nav {
    background-color: #000;
    color: pink;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav li {
    list-style: none;
    display: inline-block;
}
nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px 25px;
}
nav li a:hover {
    background-color: pink;
    text-decoration: none;
}

